services:
  web:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      FLASK_ENV: production
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app