services:
  web:
    build: ./backend
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      FLASK_ENV: development
      DB_HOST: db
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app